@use "./variables" as *;

@font-face {
  font-family: "bold";
  src: url("../fonts/bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "back";
  src: url("../fonts/back.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "light";
  src: url("../fonts/light.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "regular";
  src: url("../fonts/regular.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-color: $color-accent $bg-main;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}


.row {
  display: flex;
  width: 100%;
}
.container {
  width: 91%;
  margin: 0 auto;
}
