$dark-bg: #2a2a2a;         // Əsas tünd fon (Modalın xarici)
$modal-bg: #3c3c3c;        // Modalın içindəki məzmun fonu (Modal Body)
$text-light: #f0f0f0;      // Əsas ağ mətn
$primary-color: #ffc107;   // Vurğu rəngi (Sarı: Aktiv addımlar)
$secondary-color: #555;    // İkinci dərəcəli rəng (Boz: Standart düymələr, keçirilməyən addımlar)
$border-color: #555;       // Standart kənar rəngi