@use "../mixin" as *;

.section,
.personal,
.contact,
.who-am-a-page {
  overflow-x: hidden;
  position: relative;
  &::before {
    content: "PC";
    position: absolute;
    top: 13%;
    left: calc(32% - 300px);
    font-family: "back";
    font-size: 300px;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.044);
    z-index: -1;
    white-space: nowrap;
    font-size: 50vw;
    font-weight: 500;
    position: fixed;
    text-align: center;
  }
}

.personal, .contact, .who-am-a-page {
  .container {
    .row {
      .top {
        .title {
          position: relative;
          z-index: 3;
        }
      }
    }
  }
  &::before {
    color: rgba($text-light, 0.05);
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .section,
  .personal,
  .contact,
  .who-am-a-page {
    &::before {
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 220px;
    }
  }
}

