@use "../mixin" as *;

.footer {
  background: $bg-main;
  color: $text-light;
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 500px;
  height: auto;
  overflow: hidden;

  &.footer--with-border {
    border-top: 4px dotted $text-light;
  }

  .container {
    .row {
      padding: 4rem 1rem;
      flex-direction: column;

      .top {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        gap: 5rem; 

        @include respond-to(desktop) {
          gap: 2rem;
          flex-wrap: nowrap;
        }
         @include respond-to(tablet) {
           flex-direction: column;
           gap: 3rem;
        }
      }

      .left {
      
        font-family: "regular";

        @include respond-to(desktop) {
          margin-bottom: 2rem;
        }

        @include respond-to(tablet) {
           width: 100%;
           margin-bottom: 2rem;
        }

        .logo {
          width: 50px;
          margin-bottom: 1rem;
        }

        p {
          margin: 0.3rem 0;
          font-size: 0.95rem;
          color: $text-light;
        }

        .author {
          color: rgb(116, 122, 132);

          span a {
            color: $color-accent;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }


      .columns-container {
        display: flex;
        gap: 2rem 5rem;
        flex-wrap: wrap;

        width: 60%;
        justify-content: space-evenly;

        @include respond-to(desktop) {
          width: 100%;
          justify-content: space-between;
          gap: 2rem 3rem;
        }

        @include respond-to(tablet) {
           width: 100%;
           justify-content: space-between;
           gap: 2rem;
        }

      @include respond-to(small-mobile) {
        flex-direction: column;
        gap: 2rem;
      }
    }


    .col {
      min-width: 150px;

      @include respond-to(tablet) {
        min-width: auto;
      }

      @include respond-to(small-mobile) {
        min-width: 100%;
      }

      .title {
        color: $color-accent;
        font-size: 15px;
        margin-bottom: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        font-family: "bold";
      }

      .footerList {
        list-style: none;
        padding: 0;
        margin: 0;

        .footerItem {
          margin-bottom: 0.6rem;
          font-size: 1rem;
          line-height: 25px;
          font-family: "regular";

          a {
            color: $text-muted;
            text-decoration: none;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            align-items: center;

            .icon {
              margin-right: 10px;
              color: $text-muted;
            }

            &:hover {
              color: $color-accent;
              .icon {
                color: $color-accent;
              }
            }
          }
        }

        .social-item a {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}


  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    @include respond-to(tablet) {
        position: relative;
        left: auto;
        right: auto;
        width: 100%;
        height: auto;
        display: block;
        margin-top: 50px;
    }

    .title {
      display: flex;
      justify-content: center;
      font-family: "back";
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;


      font-size: 206px;
      margin-bottom: 30px;
      transform: scale(1.3) translateY(20%);

      @include respond-to(desktop) {
        font-size: 160px;
        transform: scale(1.2) translateY(25%);
      }

      @include respond-to(tablet) {
        font-size: 120px;
        writing-mode: horizontal-tb;
        height: auto;
        text-orientation: mixed;
        transform: scale(1.2) translateY(20%);
        margin-bottom: 0;
        padding: 0;
        line-height: 1;
        letter-spacing: initial;
        margin-right: 0;
        text-align: center;
      }

      @include respond-to(small-mobile) {
        font-size: 80px;
        margin-right: 10px;
      }
    }
  }
}
