.header {
  width: 100%;
  font-family: "medium";
  transition: background 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 999;

  .container {
    .row {
      height: 130px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          width: 80px;
        }
      }

      .desktopNav {
        .navList {
          display: flex;
          gap: 30px;
          .navItem {
            font-family: "medium";
            cursor: pointer;
            font-size: 16px;

            a {
              text-transform: uppercase;
              color: black;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .menuToggle {
        display: none;
      }
    }
  }
}

.mobileMenuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;

  transform: translateY(-100%);
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.mobileMenuOverlay.is-active {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

.mobileMenuOverlay .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.mobileMenuOverlay .mobileNav {
  margin-top: 150px;
  text-align: center;
  width: 100%;

  .mobileNavList {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .navItem {
      a {
        color: white;
        font-size: 23px;
        text-transform: uppercase;
        font-family: "bold";
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      .row {
        height: 80px;
        .desktopNav {
          display: none;
        }

        .menuToggle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 44px;
          height: 44px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          color: white;
          z-index: 9999;
          .hamburgerIcon {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 18px;

            .line {
              display: block;
              height: 2px;
              width: 100%;
              transition: all 0.3s ease;
              transform-origin: left center;
            }

            .top,
            .bottom {
              width: 70%;
              margin-left: auto;
            }

            .middle {
              width: 100%;
            }
          }
        }

        .menuToggle.is-active .hamburgerIcon {
          .line {
            width: 100%;
            margin: 0;
          }

          .top {
            transform: translateY(8px) rotate(45deg);
          }

          .middle {
            opacity: 0;
            transform: translateX(-100%);
          }

          .bottom {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}
