.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .buy-artwork-modal {
    background: #1e1e1e;
    color: #e0e0e0;
    border-radius: 20px;
    width: 90%;
    max-width: 80%;
    max-height: 90vh;
    overflow-y: auto;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);

    .modal-header {
      position: relative;
      padding-bottom: 20px;

      h2 {
        font-size: 1.9rem;
        margin-bottom: 5px;
        font-family: "bold";
      }
      p {
        opacity: 0.8;
        font-size: 0.95rem;
        font-family: "regular";
        margin-top: 20px;
      }

      .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        color: #e0e0e0;
        font-size: 2rem;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }

    .step-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #333;
      margin-bottom: 20px;

      .step-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        opacity: 0.5;

        &::after {
          content: "";
          position: absolute;
          top: 10px;
          left: 50%;
          width: 100%;
          height: 2px;
          background: #333;
          z-index: 1;
          transform: translateX(50%);
        }
        &:last-child::after {
          display: none;
        }

        &.active,
        &.completed {
          opacity: 1;
        }

        &.completed .step-number {
          border: 1.5px solid #e2d680;
        }

        &.active .step-number {
          border: 1.5px solid #e2d680;
        }

        .step-number {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: #444;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          z-index: 2;
          margin-bottom: 5px;
        }

        .step-label {
          font-size: 1rem;
          margin-top: 8px;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
        }
      }

      .step-item.active {
        .step-label {
          visibility: visible;
          opacity: 1;
          color: #e2d680;
          font-family: "regular";
        }
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      font-weight: bold;
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      .back-btn {
        background-color: #333;
        color: white;
        font-size: 0.9rem;

        &:hover {
          background-color: #2f2e2e;
        }
      }

      .next-btn,
      .submit-btn {
        background-color: #fff083;

        color: black;
        font-size: 0.9rem;
        &:hover {
          background-color: #cec476cb;

        }
      }
    }
  }
}
