@use "../mixin" as *;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba($bg-darker, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .buy-artwork-modal {
    background: $bg-surface;
    color: $text-muted;
    border-radius: 20px;
    width: 90%;
    max-width: 80%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);

    @include respond-to(tablet) {
      width: 95%;
      max-width: 95%;
      padding: 20px;
    }

    .modal-content {
      flex: 1;
      overflow-y: auto;
      min-height: 0;
    }

    .modal-header {
      position: relative;
      padding-bottom: 20px;

      h2 {
        font-size: 1.9rem;
        margin-bottom: 5px;
        font-family: "bold";

        @include respond-to(mobile) {
          font-size: 1.5rem;
        }
      }
      p {
        opacity: 0.8;
        font-size: 0.95rem;
        font-family: "regular";
        margin-top: 20px;
      }

      .close-btn {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        color: $text-muted;
        font-size: 2rem;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }

    .step-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid $bg-input-border;
      margin-bottom: 20px;

      .step-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        position: relative;
        opacity: 0.5;

        &.active,
        &.completed {
          opacity: 1;
        }

        &.completed .step-number {
          border: 1.5px solid $color-accent;
        }

        &.active .step-number {
          border: 1.5px solid $color-accent;
        }

        .step-number {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background: $bg-surface;
          color: $text-light;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1rem;
          z-index: 2;
          margin-bottom: 5px;
          border: 2px solid $bg-input-border;
        }

        .step-label {
          font-size: 1rem;
          margin-top: 8px;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s, visibility 0.3s;
          
          @include respond-to(mobile) {
            display: none;
          }
        }
      }

      .step-item.active {
        .step-label {
          visibility: visible;
          opacity: 1;
          color: $color-accent;
          font-family: "regular";
          
          @include respond-to(mobile) {
            display: block; 
            font-size: 0.8rem;
          }
        }
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s;
      font-weight: bold;
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;

      .back-btn {
        background-color: $bg-input-border;
        color: $text-light;
        font-size: 0.9rem;

        &:hover {
          background-color: #2f2e2e;
        }
      }

      .next-btn,
      .submit-btn {
        background-color: $color-accent;

        color: $bg-darker;
        font-size: 0.9rem;
        &:hover {
          background-color: $color-accent-hover;

        }
      }
    }
  }
}
