.contact {
    background-color: #222222;
  .container {
    .row {
      .top {
        .title {
          font-family: "bold";
          font-size: 72px;
          color: #f8f8f8;
        }
        .info{
            font-family: "regular";
            color: #cecece;
        }
      }
    }
  }
}
