.personal {
  background-color: #222222;
  padding-top: 50px;
//   margin-bottom: 50px;
  position: relative;

  .container {
    .row {
      .top {
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 5rem;
          font-weight: 800;
          line-height: 1.1;
          max-width: 60%;
          text-transform: capitalize;
          color: white;
          //   width: 100px;
        }
        .info {
          background-color: rgba(51, 51, 51, 0.849);
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          color: white;
          border: 1px solid rgba(255, 255, 255, 0.1);
          border-radius: 10px;
          padding: 25px;
          height: 100px;
          width: 380px;
          font-size: 18px;
          font-family: "regular";
          text-align: start;
          line-height: 30px;
          font-style: italic;
        }
      }
    }
  }
}
