.who-am-i-page {
    height: 100vh;
    background-color: #222222;
  .container {
    .row {
       .title{
        color: white;
        font-size: 92px;
        font-family: "bold";
        margin-top: 100px;
     
       } 
    }
  }
}
