.step-1 {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 40px;
  background-color: #4d4d4d;
  border-radius: 10px;
  font-family: "regular";
  .step-1-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .left-side {
    .artwork-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;

      img {
        width: 100%;
        max-height: 390px;
        object-fit: contain;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      }

      .artwork-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 30px 0 0;
        font-size: 1.1rem;
        font-weight: bold;

        .price {
          color: #ede18b;
          margin-top: 10px;
        }
      }
    }

   
  }

  .right-side {
    h3 {
      font-size: 1.2rem;
      color: #e0e0e0;
      margin-bottom: 20px;
    }

    .related-artworks-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;

      .related-artwork-item {
        background-color: #333;
        border-radius: 8px;
        overflow: hidden;
        text-align: center;
        width: 150px;
        padding-bottom: 10px;
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        height: 150px;
        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        }

        img {
          width: 80%;
          height: 100px;
          object-fit: cover;
          display: block;
          margin: 0 auto;
          margin-top: 15px;
          border-radius: 10px;
        }

        .artwork-title {
          font-size: 0.85rem;
          margin-top: 8px;
          display: block;
          
        }
      }

      .related-artwork-item.selected {
        // border-color: #0070f3;
        background: #ede18b69;
      }
    }

    // .view-all-btn {
    //   width: 100%;
    //   padding: 12px;
    //   background: none;
    //   border: 1px solid #ff5722;
    //   color: #ff5722;
    //   border-radius: 5px;
    //   font-weight: bold;
    //   transition: background-color 0.2s;

    //   &:hover {
    //     background-color: rgba(255, 87, 34, 0.1);
    //   }
    // }
  }

  .step-1-footer {
    padding-top: 20px;
    text-align: right;

    .suivante-btn {
      background-color: #fff083;
      color: black;
      padding: 12px 25px;
      font-size: 1rem;
      font-weight: bold;
      &:hover {
      background-color: #cec476cb;
      }
    }
  }
}
