.step-content.step-2 {
  //   display: flex;
  //   justify-content: center;
  //   align-items: flex-start;
  width: 100%;
  padding-top: 20px;
  font-family: "regular";
}

.step-2-grid {
  width: 100%;
  // max-width: 450px;
  margin: 0 auto;
}

.order-summary {
  background-color: #333333;
  color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

  h3 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: 500;
    color: white;
    font-family: "bold";
  }
}

.total-price-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #949389d9;
  border-radius: 8px;
  font-family: "bold";
  border: 1px solid #ede18bb7;

  p {
    margin: 0;
    color: #ede18b;
    font-size: 1.2em;
  }

  .price-value {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
  }
}

.artwork-details-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;

  > div {
    display: flex;
    align-items: center;

    padding: 20px;
    background-color: #3e3e3ec7;
    border-radius: 8px;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 10px;
      margin-right: 15px;
      flex-shrink: 0;
      border: 1px solid #555;
    }

    .info {
        margin-left: 20px;
      p {
        margin: 0;
        font-size: 0.95em;
        line-height: 1.9;
        font-family: "regular";

        &:nth-child(2) {
          flex-grow: 1;
          color: #f0f0f0;
          font-weight: 500;
          padding-right: 10px;
        }

        &:last-child {
          color: #d8d8d8;
          font-weight: 500;
          min-width: 65px;
       
          font-size: 0.9em;
        }
      }
    }
  }
}
